*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding :0;
    box-sizing: border-box;
    font-weight: 600;
    
}

#logo{
    height:75px;
    width:75px;
}

header{
    height:85px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 20px;
    
}



#click{
    color:#faa307;
}
.sticky_nav{
    position:sticky;
}
.pointer{
    cursor: pointer;
}
ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color:black;
}


ul li {
    margin :0 20px; 
    padding:5px;  

}

div ul li a {
    margin :0 ,10px;
    padding:5px 20px;
    border: 2px solid black;  
}

.Active{
    color:#faa307
}

ul li :hover{
    color:#faa307;
}

.signup{
    background-color:#333533;
    color:white
}

.signup:hover{
    background-color:#333533;
    color:white
}


.login:hover{
    background-color: #333533;
    color:white
}

#hero{
    background-image: url("image/project_pic_resize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    padding-bottom: 40px;
}

#hero p{
    color: white;
}

#content{
    height:350px;
    width:300px;
    margin :40px;
    
}

#hero h1{
    font-size: 37px;
}

#hero p {
    font-size: 16px;
}

#hero button {
    margin:10px;
    padding: 10px 20px;
    font-size: 17px;
    
}

#hero button{
    background-color: black;
    color:white;
}

#hero button:hover{
    background-color: white;
    color:black;
}

.tagline_card{
    text-align: center;
    margin:10px;
    padding:25px;
}

.tagline_card h1{
    opacity: 0.8;
    padding-bottom: 10px;
}

.tagline_card p{
    opacity: 0.6;
}

#features{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

#features .card{
    height:300;
    width:200px;
    text-align: center;
    padding: 25px 25px;
    padding-right: 35px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border:2px solid #cce7d0;
    margin:30px 40px;
    transition: box-shadow 0.3s;
}

#features .card:hover{
    box-shadow: 2px 2px 5px black;
}

#features .card img{
    margin-bottom: 10px;
}

#features .card h6{
    font-size: 12px;
}

#explore{
    background-image: url(image/banner_img.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 200px;
    width:100%;
    padding:20px;
    /* background-color: #588157;
    color:white; */
}
#explore div{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;  
    color:white;
}

#explore div h1{
    font-size: 40px;
}

#explore div p{
    padding-bottom: 30px;
}

#explore div button {
    padding:7px 25px;
}

#explore div button:hover{
    background-color: #faa307;
}

.company{
    text-align: center;
    margin:25px;
}
.company h1{
    opacity:0.8;
}
.company p {
    opacity:0.6;
}

#color{
    color:#faa307;
    font-weight: 700;
}

#companies{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin:0px 130px;

}

#companies .com_logo img{
    height:100px;
    width:140px;
}

#companies .com_logo{
    margin: 10px 50px;
}

.many_more{
    text-align: center;
    opacity: 0.6;
    padding-bottom: 25px;
}

 #footer .foot_main{
    height:250px;
    width:100%;
    background-color: rgb(223, 221, 221);
    display:flex;
   padding-top:35px;
    justify-content: space-around;
    
}

#logo_footer{
    height:120px;
    width:120px;
}

.foot_main div a {
    text-decoration: none;
    color:black;
}

.foot_main .about a {
    opacity: 0.6;
}

.foot_main .My_account a {
    opacity:0.6;
}

.foot_main .Contact p {
    opacity: o.5;
}

.foot_main .Contact .icons {
    font-size: 22px;
    opacity: 0.7;
}

.foot_main .Contact .icons:hover{
    opacity: 1;
}